@using QuizItUp.Common
@model QuizItUp.Web.ViewModels.Quizes.QuizViewModel
@using QuizItUp.Web.ViewModels.Quizes

@{
    this.ViewData["Title"] = "Edit quiz";
}


<form asp-action="Edit" asp-controller="Quizes" method="post">
    <div asp-validation-summary="All" class="text-danger">   </div>

    <div class="form-group">
        <label asp-for="Name">Quiz name</label>
        <input class="form-control" placeholder="Enter quiz name" asp-for="Name" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Quiz Description</label>
        <textarea rows="3" class="form-control" placeholder="Quiz Description" asp-for="Description">@Model.Description</textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalTimeToComplete">Quiz time</label>
        <input class="form-control" placeholder="Quiz time - in minutes" asp-for="TotalTimeToComplete" value="@Model.TotalTimeToComplete">
        <span asp-validation-for="TotalTimeToComplete" class="text-danger"></span>
    </div>

    @*
        // check if the picture URl is the defult one - if so add posibility to upload img
    *@

    <!-- Finish dialog -->
    @*<div class="modal fade" id="btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Are you sure you want to finish the quzi now?</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" id="submitResult"
                                asp-action="Remove" asp-controller="Quizes" asp-route-id="@Model.Id">
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel!</button>
                    </div>
                </div>
            </div>
        </div>*@

    <button type="submit" class="btn btn-primary">Update quiz</button>
    <a asp-action="Remove" asp-controller="Quizes" asp-route-id="@Model.Id" onclick="" class="btn btn-danger">Remove</a>
</form>

@section Scripts{

    <script>
        function a() {

        }
    </script>
}